<h1>Store Statistics</h1>
<p>Number of products: <strong><%= @product %></strong></p>
<p>Number of categories: <strong><%= @category %></strong></p>


<%= link_to "View Products", admin_products_path, class: 'btn btn-sm btn-danger' %>
